@import "fonts.css";


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
}
   
p,
a,
h2,
h3,
img,
button,
section {
	margin: 0;
	padding: 0;
}
a {
    text-decoration: none;
}
/* portfolio----------------------------------------------------------------------*/

.portfolio {
    box-sizing: border-box;
    padding-top: 57px;
    padding-bottom: 65px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.wrapper-portfolio {
    box-sizing: border-box;
    max-width: 1020px;
    padding: 0px 40px;
    margin: 0 auto;
}

.portfolio-title {
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.16px;
    font-weight: 700;
    text-transform: capitalize;
    color: #666d89;
}

.portfolio-text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: -0.25px;
    color: #767e9e;
    font-weight: 300;
}

.portfolio__buttons {
    margin-top: 10px;
}

.tab {
    padding: 3px 6px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #666d89;
    background-color: inherit;
    font-size: 12px;
    line-height: 12px;
    color: #767e9e;
    font-family: inherit;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-transform: capitalize;
    cursor: pointer;
}

.tab--active {
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.tab:hover {
    color: #f06c64;
    border: 1px solid #f06c64;
}
  
.tab:active {
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.portfolio-images {
    margin-top: 21px;
    max-height: 601px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    overflow: hidden;
}

.portfolio-images__item {
    display: block;
    height: 187px;
    width: 220px;
}

/* about----------------------------------------------------------------------*/

.about {
    box-sizing: border-box;
    padding: 25px 0 30px 0;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.wrapper-about{
    box-sizing: border-box;
    margin: auto;
    max-width: 1020px;
    padding: 0 40px;
}

.about-title {
    font-size: 30px;
    line-height: 1;
    color: #666d89;
    font-weight: 900;
    letter-spacing: -0.15px;
    text-transform: capitalize;
}

.about-text {
    margin-top: 18px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.09px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
}

.employee-info {
    margin-top: 45.5px;
    display: flex;
    justify-content: space-between;
}

.employee-data {
    width: 300px;
}

.employee-img {
    display: block;
    width: 100%;
    height: auto;
}

.employee-img.pixel {
    transform: translateX(-1px);
}

.employee-name {
    margin-top: 14px;
    font-size: 18px;
    line-height: 1;
    color: #666d89;
    font-weight: 900;
    letter-spacing: -0.1px;
}

.employee-text {
    margin-top: 10px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #767e9e;
    text-align: justify;
    letter-spacing: -0.03px;
}

.employee-socials {
    margin-top: 20px;
    font-size: 0;
    line-height: 0;
}

.social-tabs__item {
    display: inline-block;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid #666d89;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
}

.social-tabs__item--facebook {
    background-image: url(./assets/images/facebook.svg);
}

.social-tabs__item--google {
    background-image: url(./assets/images/google.svg);
}

.social-tabs__item--twitter {
    background-image: url(./assets/images/twitter.svg);
}

.social-tabs__item--linkedin {
    background-image: url(./assets/images/linkedin.svg);
}

.social-tabs__item:hover {
    border: 1px solid #f06c64;
}

.social-tabs__item:active {
    border: 1px solid #f06c64;
    background-color: #f06c64;
}




