@import "fonts.css";

body {
    background-color: gray;
    margin: 0;
    padding: 0;
    font-family: 'Lato', Arial, sans-serif;
}

p,
span,
a,
h1,
h2,
h3,
ul,
li,
img,
button {
	margin: 0;
	padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    box-sizing: border-box;
    height: 95px;
    padding: 32px 0 32px 0;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.wrapper-header {
    box-sizing: border-box;
    max-width: 1020px;
    padding: 0px 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-logo {
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.45px;
}

.header-logo > span {
    color: #f06c64;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    font-weight: 700;
}

.nav-header__item {
    padding: 0px 9px;
    margin: 0 4px;
}

.nav-header__item:last-child {
    padding-right: 0;
    margin-right: 0;
}

.nav-header__item > a {
    font-size: inherit;
    line-height: 8px;
    word-spacing: 40px;
    color: inherit; 
    text-transform: uppercase;
    letter-spacing: 0.35px;
}

.nav-header__item > a:hover {
    color: #f06c64;
}

.nav-header__item > a:active {
    color: red;
}

/* slider ------------------------------------------------------------------------*/

.slider {
    box-sizing: border-box;
    height: 600px;
    padding: 53px 0 58px 0;
    background-color:#f06c64;
    border-bottom: 6px solid  #ea676b;
}

.wrapper-slider {
    box-sizing: border-box;
    width: 100%;
    max-width: 1020px;
    padding: 0 40px;
    margin: 0 auto;
}

.container-slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-block {
    margin: 0 auto;
    display: flex;
    align-items: center;    
}

.slider-block__item {
    padding: 0 35px 0 37px;
}

.button {
    margin: 0px;
    padding: 0px;
    width: 16px;
    height: 27px;
    border: none;
    background-color: inherit;
    background-image: url(./assets/images/btn-slider-left.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
    cursor: pointer;
}

.button_right {
    transform: rotate(180deg);
}

.button:hover {
    filter: brightness(10);
}

/* our services----------------------------------------------------------------------*/

.our-services {
    box-sizing: border-box;
    height: 495px;
    padding: 66px 0 29px 0;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.our-services-wrapper {
    box-sizing: border-box;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

.our-services-title {
    font-size: 30px;
    line-height: 23px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.20px;
}

.our-services-text {
    padding-top: 24px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0px;
}

.our-services-block {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-block__item {
    box-sizing: border-box;
    position: relative;
    max-width: 299px;
    padding-left: 80px;
    padding-bottom: 29.5px;
    flex-grow: 1;
}

.services-block__item::before {
    content: '';
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 2px solid #666d89;
    word-wrap:break-word;
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
}

.pen-icon.services-block__item::before {
    background-image: url(./assets/images/pen.svg);
}
.bulb-icon.services-block__item::before {
    background-image: url(./assets/images/bulb.svg);
}

.heart-icon.services-block__item::before {
    background-image: url(./assets/images/heart.svg);
}

.phone-icon.services-block__item::before {
    background-image: url(./assets/images/phone.svg);
}

.bubble-icon.services-block__item::before {
    background-image: url(./assets/images/bubble.svg);
}

.star-icon.services-block__item::before {
    background-image: url(./assets/images/star.svg);
}

.services-block__item > h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-transform: capitalize;
    word-spacing: 0.4px;
    letter-spacing: -0.15px;
}

.services-block__item > p {
    padding-top: 10px;
    font-size: 12px;
    line-height: 1.8;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
    word-spacing: -2px;
    letter-spacing: -0.2px;
    word-wrap: break-word;
}

