@import "fonts.css";


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
}
   
p,
a,
h2,
h3,
section {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Lato', Arial, sans-serif;
}
/* contact-us----------------------------------------------------------------------*/

.contact-us {
    box-sizing: border-box;
    padding-top: 63px;
    padding-bottom: 66px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.contact-us-wrapper {
    box-sizing: border-box;
    max-width: 1020px;
    padding: 0px 40px;
    margin: 0px auto;
}

.contact-us-title {
    font-size: 30px;
    line-height: 1;
    color: #f0d8d9;
    font-weight: 900;
}

.contact-us-text {
    margin-top: 22px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 300;
}

.contacts-form {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
}

.form {
    width: 619px;
}

.input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 22px;
    padding-left: 14px;
    color: #f48c8f;
    font-family: inherit;
    font-weight: 400;
    border-radius: 5px;
    background-color: #d6564f;
}

.input-textarea {
    box-sizing: border-box;
    height: 202px;
    resize: none;
}

.input::placeholder {
    color: #f48c8f;
}

.input-submit {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color: #d6564f;
    cursor: pointer;
  }
  
.input-submit:hover {
    background-color: #2d303a;
    color: #f0d8d9;
    transition: all 0.2s linear;
}
  
.information {
    width: 300px;
}

.contact-form-title {
    font-size: 18px;
    line-height: 1;
    color: #f0d8d9;
    font-weight: 900;
}

.contact-form-text {
    margin-top: 11px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
    text-align: justify;
}

.information__link {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #f0d8d9;
}

.information__link:hover {
    color: #2d303a;
}

/*___________________footer______________________________________________________*/

.footer {
    box-sizing: border-box;
    padding: 32px 0;
    background-color: #2d303a;
}

.footer-wrapper{
    padding: 0 40px;
    margin: auto;
    max-width: 1020px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    color: #666d89;
}

.footer-socials {
    font-size: 0;
    line-height: 0;
}

.social-tabs__item {
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid #666d89;
    font-size: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
}

.social-tabs__item--facebook {
    background-image: url(./assets/images/facebook.svg);
}

.social-tabs__item--google {
    background-image: url(./assets/images/google.svg);
}

.social-tabs__item--twitter {
    background-image: url(./assets/images/twitter.svg);
}

.social-tabs__item--linkedin {
    background-image: url(./assets/images/linkedin.svg);
}

.social-tabs__item:hover {
    border: 1px solid #f06c64;
}

.social-tabs__item:active {
    border: 1px solid #f06c64;
    background-color: #f06c64;
}