@import "fonts.css";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
    scroll-behavior: smooth;
}

div,
p,
span,
a,
h1,
h2,
h3,
ul,
li,
img,
button,
section {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    font-family: inherit;
}

.header {
    position: sticky;
    top: 0;
    padding: 32px 0 32px 0;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    z-index: 100;
}

.wrapper-header {
    max-width: 1020px;
    padding: 0px 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hamburger-button {
    display: none;
    position: absolute;
    top: 26px;
    left: 20px;
    width: 25px;
    height: 20px;
    border: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: inherit;
    z-index: 120;
    transition: all 0.4s linear;
}

.hamburger-button--active {
    transform: rotate(90deg);
}

.hamburger-button:focus {
    outline: none;
}

.hamburger-line {
    display: inline-block;
    width: 25px;
    height: 2.4px;
    border-radius: 1.2px;
    background-color: #fff;
}

.header-logo {
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.45px;
}

.header-logo > span {
    color: #f06c64;
}

.header-logo--aside {
    position: relative;
    z-index: 120;
    left: calc(-50vw + 71px + 45.665px);
}

.header-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.header-overlay--visible {
    display: block;
}

.aside-menu--active {
    position: absolute;
    top: 0;
    left: 0;
    width: 278px;
    height: 100vh;
    padding: 71px 10px 20px 71px;
    background: #2D303A;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    z-index: 110;
}

.nav-header--aside {
    flex-direction: column;
    margin-top: 161px;
}

.nav-header--aside .nav-header__item {
    padding: 0;
    margin: 0 0 29.5px 0;
} 

.nav-header--aside .nav-header__item::before {
    display: none;
} 

.nav-header--aside .header__link {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.035em;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

.nav-header__item {
    padding: 0px 5px;
    margin: 0 10px;
}

.nav-header__item + .nav-header__item {
    position: relative; 
  }
  
.nav-header__item + .nav-header__item::before {
    content: " ";
    position: absolute;
    left: -12.5px;
    top: 50%;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #494e62;
    background-repeat: no-repeat;
  }

.nav-header__item:last-child {
    padding-right: 0;
    margin-right: 0;
}

.header__link {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.33px;
    user-select: none;
}

.header__link:active,
.header__link--active {
    color: #f06c64;
    transition: color 0.1s linear;
    outline: none;
}

/* slider ------------------------------------------------------------------------*/

.slider {
    padding: 53px 0 32px 0;
    height: 600px;
    background-color:#f06c64;
    border-bottom: 6px solid  #ea676b;
    scroll-margin-top: 94px;
}

.wrapper-slider {
    max-width: 1020px;
    padding: 0 40px;
    margin: 0 auto;
}

.slide-1 {
    background-color: #f06c64;
    border-color: #ea676b;
    transition: background-color 0.6s linear, border-color 0.6s linear;
}

.slide-2 {
    background-color: #648BF0;
    border-color: #888BF0;
    transition: background-color 0.6s linear, border-color 0.6s linear;
}

.container-slider {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.button {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 16px;
    height: 27px;
    top: calc(50% - 13.5px);
    border: none;
    display: block;
    background-color: inherit;
    background-image: url(./assets/images/btn-slider-left.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
    cursor: pointer;
    z-index: 50;
}

.button_left {
    left: 0;
}

.button_right {
    transform: rotate(180deg);
    right: 0;
}

.slider-block {
    position: relative;
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;  
    justify-content: flex-start;
    overflow: hidden;
    user-select: none; 
}

.slider-block__item {
    width: 100%;
    padding: 0 35px 0 37px;
    display: none;
    align-items: center;
    justify-content: center;
    animation: 0.6s ease-in-out;
}

.slider-img {
    object-fit: contain;
}

.slider-img.img-01 {
    width: 240px;
    height: 483px;
}

.slider-img.img-02 {
    width: 483px;
    height: 240px;
}

.slider-img.img-03 {
    width: 486.766px;
    height: 483px;
}

.active,
.next {
    position: relative;
    display: flex;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
    animation-name: left;
}
  
.from-right {
    animation-name: right;
}
  
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
  
.from-left {
    animation-name: left;
    animation-direction: reverse;
}
  
@keyframes left {
    from {
        left: 0;
    }
    to {
      left: -100%;
    }
}

@keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
}

.phone-container {
    margin: 0;
    padding: 0;
    position: relative;
}

.phone-container + .phone-container {
    margin-left: 73px;
}

.btn-phone {
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}

.btn-phone-vertical-screen {
    top: 407px;
    left: 85px;
}
.btn-phone-horizontal-screen {
    top: 87px;
    left: 10px;
}
.btn-phones-vertical-screen {
    top: 408px;
    left: 210px;
}

.phone-screen {
    position: absolute;
    z-index: 1;
}

.phone-vertical-screen {
    width: 188px;
    height: 333px;
    left: 14px;
    top: 65px;
}

.phone-horizontal-screen {
    width: 333px;
    height: 188px;
    left: 60px;
    top: 14px;
}

.phones-vertical-screen {
    width: 188px;
    height: 333px;
    left: 137px;
    top: 65px;
}

.phone-screen--hidden {
    background-color: transparent;
    transition: background-color 0.3s linear;
}

.phone-screen--visible {
    background-color: black;
    transition: background-color 0.3s linear;
}


/* our services----------------------------------------------------------------------*/

.our-services {
    padding: 62px 0 30px 0;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    scroll-margin-top: 94px;
}

.our-services-wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

.our-services-title {
    font-size: 30px;
    line-height: 1;
    color: #666d89;
    font-weight: 900;
    letter-spacing: -0.20px;
}

.our-services-text {
    margin-top: 21px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
}

.our-services-block {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-block__item {
    position: relative;
    width: 299px;
    padding-left: 80px;
    margin-bottom: 32px;
}

.services-block__item::before {
    content: '';
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 2px solid #666d89;
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
}

.pen-icon.services-block__item::before {
    background-image: url(./assets/images/pen.svg);
}
.bulb-icon.services-block__item::before {
    background-image: url(./assets/images/bulb.svg);
}

.heart-icon.services-block__item::before {
    background-image: url(./assets/images/heart.svg);
}

.phone-icon.services-block__item::before {
    background-image: url(./assets/images/mobile.svg);
}

.bubble-icon.services-block__item::before {
    background-image: url(./assets/images/bubble.svg);
}

.star-icon.services-block__item::before {
    background-image: url(./assets/images/star.svg);
}

.services-block__item > h3 {
    font-size: 18px;
    line-height: 1;
    color: #666d89;
    font-weight: 900;
    text-transform: capitalize;
    word-spacing: 0.4px;
    letter-spacing: -0.15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.services-block__item > p {
    margin-top: 10px;
    max-height: 65px;
    font-size: 12px;
    line-height: 1.8;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
}

/* portfolio----------------------------------------------------------------------*/

.portfolio {
    padding-top: 64px;
    padding-bottom: 62px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    scroll-margin-top: 94px;
}

.wrapper-portfolio {
    max-width: 1020px;
    padding: 0px 40px;
    margin: 0px auto;
}

.portfolio-title {
    font-size: 30px;
    line-height: 1;
    letter-spacing: -0.05px;
    font-weight: 900;
    text-transform: capitalize;
    color: #666d89;
}

.portfolio-text {
    margin-top: 20px;
    margin-left: 3px;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: #767e9e;
    font-weight: 300;
}

.portfolio__buttons {
    margin-top: 10px;
}

.tab {
    padding: 0 6px;
    margin-right: 7px;
    border-radius: 5px;
    border: 1px solid #666d89;
    background-color: inherit;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: inherit;
    font-weight: 400;
    text-align: justify;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
}

.tab:active,
.tab--active {
    color: #dedede;
    border-color: #c5c5c5;
    transition: color 0.5s linear;
    outline: none;
}

.portfolio-images {
    margin: 13px -5px 0;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    user-select: none;
}

.portfolio-images:focus {
    outline: none;
}

.portfolio-images__item {
    display: block;
    height: 187px;
    width: 220px;
    font-size: 0;
}

.portfolio-images__item:nth-child(n + 13) {
    display: none;
}

.portfolio-images__item--active {
    outline: 5px solid #f06c64;
}

.portfolio-images__item > img {
    width: 100%;
    height: auto;
}

/* about----------------------------------------------------------------------*/

.about {
    padding: 25px 0 67px 0;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    scroll-margin-top: 94px;
}

.wrapper-about{
    margin: auto;
    max-width: 1020px;
    padding: 0 40px;
}

.about-title {
    margin-top: 37px;
    font-size: 30px;
    line-height: 1;
    color: #666d89;
    font-weight: 900;
    letter-spacing: -0.15px;
    text-transform: capitalize;
}

.about-text {
    margin-top: 21px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
}

.employee-info {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.employee-data {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.employee-img {
    display: block;
    width: 100%;
    height: auto;
}
 

.employee-name {
    margin-top: 17px;
    font-size: 18px;
    line-height: 1;
    color: #666d89;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.employee-text {
    margin-top: 10px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #767e9e;
    text-align: justify;
}

.employee-socials {
    margin-top: 22px;
    font-size: 0;
    line-height: 1;
}

.social-tabs__item {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #666d89;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
}

.social-tabs__item + .social-tabs__item {
    margin-left: 8px;
}

.social-tabs__item--facebook {
    background-image: url(./assets/images/facebook.svg);
}

.social-tabs__item--google {
    background-image: url(./assets/images/google.svg);
}

.social-tabs__item--twitter {
    background-image: url(./assets/images/twitter.svg);
}

.social-tabs__item--linkedin {
    background-image: url(./assets/images/linkedin.svg);
}

.social-tabs__item:active {
    background-color: #f06c64;
    transition: all 0.5s linear;
}
/* contact-us----------------------------------------------------------------------*/

.contact-us {
    padding-top: 62px;
    padding-bottom: 21px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    scroll-margin-top: 94px;
}

.contact-us-wrapper {
    max-width: 1020px;
    padding: 0px 40px;
    margin: 0px auto;
}

.contact-us-title {
    font-size: 30px;
    line-height: 1;
    color: #f0d8d9;
    font-weight: 900;
}

.contact-us-text {
    margin-top: 21px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 300;
    text-align: justify;
}

.contacts-form {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
}

.form {
    width: 619px;  
}

.input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 14px;
    border-radius: 5px;
    background-color: #d6564f;
    font-family: inherit;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: #f48c8f;
}

.input:required:focus:invalid {
    outline: 2px solid red;
}

.input:required:focus:valid {
    outline: 2px solid green;
}

.input-textarea {
    height: 202px;
    resize: none;
}

.input::placeholder {
    color: #f48c8f;
}

.input::-webkit-input-placeholders {
    color:  #f48c8f;
    font-size: 12px;
    line-height: 1;
}

.input-submit {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: #886a30;
    font-weight: 400;
    width: 136px;
    height: 38px;
    border-radius: 5px;
    background-color: #fbc65f;
    cursor: pointer;
}
  
.information {
    width: 300px;
}

.contact-form-title {
    font-size: 18px;
    line-height: 1;
    color: #f0d8d9;
    font-weight: 900;
}

.contact-form-text {
    margin-top: 10px;
    margin-bottom: 21px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
    text-align: justify;
}

.contact-form-text::first-line {
    line-height: 21px;
}

.information__link {
    display: block;
    position: relative;
    padding-left: 23px;
    font-size: 12px;
    line-height: 21px;
    font-weight: 400;
    color: #f0d8d9;
}

.information__link::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 5px;
    background-size: initial;
    background-repeat: no-repeat;
}

.icon_location::before {
    width: 13px;
    height: 11px;
    background-image: url(./assets/images/location.svg);
}

.icon_phone::before {
    width: 13px;
    height: 11px;
    background-image: url(./assets/images/phone.svg);
}

.icon_email::before {
    width: 13px;
    height: 8px;
    background-image: url(./assets/images/mail.svg);
}

/*___________________footer______________________________________________________*/

.footer {
    box-sizing: border-box;
    padding: 24px 0 19px 0;
    background-color: #2d303a;
}

.footer-wrapper {
    padding: 0 40px;
    margin: auto;
    max-width: 1020px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    color: #666d89;
}

.footer-socials {
    font-size: 0;
    line-height: 0;
}

/*_______modal_______*/

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
}

.modal--hidden {
    display: none;
}

.modal--visible {
    display: flex;
}

.modal-content {
    padding: 60px;
    max-width: 50vw;
    border-radius: 15px;
    background-color: #d6564f;
}

.modal-title {
    font-size: 18px;
    line-height: 1.3;
    color: #f0d8d9;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.modal-text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.3;
    color: #f0d8d9;
    font-weight: 700;
    font-family: 'Lato', Arial, sans-serif;
    text-align: justify;
    word-wrap: break-word;
}

.modal-description {
    max-height: 30vh;
    overflow-y: auto;
}

.modal-button { 
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    color: #f48c8f;
    font-weight: 400;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: #d6564f;
    cursor: pointer;
}
  
 
/*_______1020___________________________*/

@media (max-width: 1019px) {

    .header {
        padding: 32px 0 31.3px 0;
        border-bottom-width: 5.62px;
    }

    .nav-header__item {
        padding: 0px 6px;
    }

    .header__link {
        line-height: 20px;
        letter-spacing: -0.035em;
    }

    .slider {
        padding: 40px 0 42px 0;
        height: calc(100vw * (451.76 / 768));
        border-bottom-width: 4.52px;
    }

    .container-slider {
        height: auto;
    }

    .button_left {
        left: -10px;
    }
    
    .button_right {
        right: -10px;
    }

    .slider-block {
        justify-content: center;
    }
    
    .slider-block__item {
        padding: 0;
    }

    .phone-container + .phone-container {
        margin-left: 54.42px;
    }

    .slider-img {
        object-fit: contain;
    }

    .slider-img.img-01 {
        width: calc(100vw * 240 / 1020);
        height: calc(100vw * 483 / 1020);
    }

    .slider-img.img-02 {
        width: calc(100vw * 483 / 1020);
        height: calc(100vw * 240 / 1020);
    }

    .slider-img.img-03 {
        width: calc(100vw * 486.766 / 1020);
        height: calc(100vw * 483 / 1020);
    }

    .btn-phone {
        width: calc(100vw * 42 / 1020);
        height: calc(100vw * 42 / 1020);
    }

    .btn-phone-vertical-screen {
        top: calc(406 / 483 * 100%);
        left: calc(85 / 240 * 100%);
    }

    .btn-phone-horizontal-screen {
        top: calc(87 / 240 * 100%);
        left: calc(10 / 483 * 100%);
    }

    .btn-phones-vertical-screen {
        top: calc(408 / 486.766 * 100%);
        left: calc(210 / 483 * 100%);
    }

    .phone-vertical-screen {
        width: calc(188 / 240 * 100%);
        height: calc(333 / 483 * 100%);
        left: calc(14 / 240 * 100%);
        top: calc(65 / 483 * 100%);
    }
    
    .phone-horizontal-screen {
        width: calc(333 / 483 * 100%);
        height: calc(188 / 240 * 100%);
        left: calc(60 / 483 * 100%);
        top: calc(14 / 240 * 100%);
    }
    
    .phones-vertical-screen {
        width: calc(188 / 486.766 * 100%);
        height: calc(333 / 483 * 100%);
        left: calc(137 / 486.766 * 100%);
        top: calc(65 / 483 * 100%);
    }

    .our-services {
        padding: 40px 0 21px 0;
    }

    .our-services-title {
        font-size: 30px;
        line-height: 36px;
    }

    .our-services-text {
        line-height: 29px;
        letter-spacing: -0.01px;
    }

    .our-services-block {
        margin-top: 37px;
    }

    .services-block__item {
        width: calc((100% - 20px) / 2);
        padding-right: 34px;
        margin-bottom: 50px;
    }

    .services-block__item:first-child {
        margin-bottom: 54px;
    }

    .portfolio {
        padding-top: 58px;
        padding-bottom: 61px;
    }

    .portfolio-title {
        line-height: 36px;
    }

    .portfolio-text {
        text-align: left;
        word-spacing: 3px;
    }

    .portfolio__buttons {
        margin-top: 11px;
    }

    .portfolio-images {
        margin: 23px -5px 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .portfolio-images__item {
        width: initial;
        height: initial;
    }

    .about {
        padding: 17px 0 67px 0;
    }

    .about-title {
        margin-top: 37px;
        line-height: 36px;
        letter-spacing: -0.05px;
    }

    .about-text {
        margin-top: 17px;
    }

    .employee-info {
        margin-top: 37px;
    }

    /* .employee-img.pixel {
        transform: translateX(-0.5px);
    }  */

    .employee-data {
        width: calc((100% - 2 * 15px) / 3);
    }

    .employee-name {
        margin-top: 13px;
    }

    .employee-text {
        margin-top: 5px;
        flex-grow: 1;
    }

    .form {
        width: calc((100% - 29px) * 0.6728);
    }

    .information {
        width: calc((100% - 29px) * 0.3191);
    }

    .modal-content {
        padding: 40px;
        max-width: 70vw;
    }

}

@media (max-width: 767px) and (orientation: landscape) {
    
    .nav-header--aside {
        margin-top: 20px;
    }

    .nav-header--aside .nav-header__item {
        margin-bottom: 16px;
    }
}

@media (max-width: 767px) {

    .hamburger-button {
        display: flex;
    }

    .header {
        padding: 26px 0 19px 0;
        border-bottom: 6px solid #2d303a;
    }
    
    .nav-header {
        display: none;
    }

    .wrapper-header {
        padding: 0px 30px;
        justify-content: center;
    }

    .header-logo {
        font-size: 20px;
        line-height: 1;
        letter-spacing: -0.03em;
    }

    .slider {
        padding: 20px 0 20.77px 0;
        height: calc(451.76px - (768px - 100vw) * (220.59 / 375));
        border-bottom-width: 2.21px;
        scroll-margin-top: 70px;
    }

    .wrapper-slider {
        padding: 0 30px;
    }

    .button_left {
        left: -20px;
    }
    
    .button_right {
        right: -20px;
    }

    .phone-container + .phone-container {
        margin-left: 26.57px;
    }

    .our-services {
        border-bottom: 6px solid #f2f2f2;
        scroll-margin-top: 70px;
    }

    .our-services-wrapper {
        padding: 0 30px;
    }

    .services-block__item {
        width: 94.921%;
    }

    .services-block__item > p {
        max-height: none;  
        min-height: 44px;  
    }

    .portfolio {
        border-bottom: 6px solid #2d303a;
        scroll-margin-top: 70px;
    }

    .wrapper-portfolio {
        padding: 0 30px;
    }

    .portfolio-images {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 13px;
        row-gap: 14px;
    }

    .portfolio-images__item:nth-child(n + 9) {
        display: none;
    }

    .about {
        border-bottom: 6px solid #f2f2f2;
        scroll-margin-top: 70px;
    }

    .wrapper-about{
        padding: 0 30px;
    }

    .employee-info {
        flex-direction: column;
    }

    .employee-data {
        width: 100%;
        margin-bottom: 34px;
    }

    .employee-data:last-child {
        margin-bottom: 0;
    }

    .employee-socials {
        margin-top: 9px;
    }

    .information {
        margin-left: 15px;
    }

    .contact-us {
        border-bottom: 6px solid #f06c64;
        scroll-margin-top: 70px;
    }

    .contact-us-wrapper {
        padding: 0px 30px;
    }

    .contacts-form {
        flex-direction: column;
    }

    .form {
        width: 100%;      
    }

    .input-submit {
        width: 100%;
    }

    .information {
        width: 100%;
        margin-top: 32px;
    }

    .footer-wrapper {
        justify-content: center;
    }

    .footer-text {
        display: none;
    }

    .modal-content {
        padding: 30px;
        max-width: 80vw;
    }
}

@media (max-width: 374px) {
    .tab {
        padding: 2px 6px;
        margin-right: 6px;
        font-size: 10px;
    }

    .phone-container + .phone-container {
        margin-left: 10px;
    }

    .modal-content {
        padding: 10px;
        max-width: 90vw;
    }

}

@media (pointer: fine) {
    .header__link:hover {
        color: #f06c64;
        transition: color 0.1s linear;
    }
    
    .header__link:not(:hover) {
        transition: color 0.1s linear;
    }

    .button:hover {
        filter: brightness(10);
    }

    .tab:hover {
        border-color: #c5c5c5;
        transition: border-color 0.5s linear;
    }

    .portfolio-images__item:hover {
        outline: 1px solid white;
        transition: all 0.2s linear;
    }

    .portfolio-images__item--active:hover {
        outline: 5px solid #f06c64;
    }

    .social-tabs__item:hover {
        border: 1px solid #f06c64;
        transition: all 0.5s linear;
    }
    
    .input-submit:hover {
        background-color: #2d303a;
        color: #f0d8d9;
        transition: all 0.5s linear;
    }

    .information__link:hover {
        color: #2d303a;
        transition: all 0.3s linear;
    }

    .modal-button:hover {
        background-color: #d6564f;
        color: #f0d8d9;
        transition: all 0.2s linear;
    }
}

